{"name":"The Sunni Madhhab at W.I.S.E.","slug":"gaza","version":"1.0.0","orientation":"portrait","icon":"./assets/bootsplash/logo@3x.png","userInterfaceStyle":"light","ios":{"version":"5.4.2","supportsTablet":true,"bundleIdentifier":"com.wise-edu.madhahib","googleServicesFile":"./ios/GoogleService-Info.plist"},"android":{"version":"6.0.5","versionCode":85,"adaptiveIcon":{"foregroundImage":"./assets/bootsplash/logo@3x.png","backgroundColor":"#ffffff"},"edgeToEdgeEnabled":true,"package":"com.wise_edu.madhahib","googleServicesFile":"./android/app/google-services.json","permissions":["android.permission.RECORD_AUDIO","android.permission.MODIFY_AUDIO_SETTINGS"]},"web":{"favicon":"./assets/bootsplash/logo@3x.png"},"plugins":["react-native-bootsplash","@react-native-firebase/app","@react-native-firebase/messaging",["expo-build-properties",{"ios":{"useFrameworks":"static"}}],"expo-audio"],"sdkVersion":"53.0.0","platforms":["ios","android"]}